PyQt5
opencv-python
matplotlib
mayavi
trimesh
scipy
keras-applications
keras-preprocessing
vtk
chardet
configobj
decorator
freetype-py
idna
imageio
importlib-metadata
networkx
pyglet
pyopengl
pyrender
rtree
zipp
python-fcl
pyyaml